* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  padding-top: 50px;
  background-color: #ffdd47;
}

header {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: top 0.3s;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 30px 50px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-left: 20px;
  font-size: 18px;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar a:hover {
  background-color: #BCE08C;
  font-size: 19px;
  color: black;
  padding: 6px;
  border-radius: 7px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  height: 100%;
  width: 100%;
  background-color: white;
  margin-top: auto;
}

.footer_text {
  display: flex;
  justify-content: left;
  width: 100%;
  padding-left: 14px;
}

.footer_text a {
  text-decoration: none;
}

.logo {
  display: flex;
  width: 100%;
  padding: 10px;
}

.logo img {
  height: 80px;
  margin-right: 10px;
  margin-left: 15px;
  margin-top: 0;
}

.title {
  margin-top: 10px;
}

.title h1 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.title p,
.title small {
  margin: 0;
  color: #333;
  width: 100%;
}













