html,body {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  min-height: 100vh; 
  overflow-x: hidden;
  padding-top: 50px;
}

header {
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    border-bottom-left-radius: 15px; 
    border-bottom-right-radius: 15px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    z-index: 1000;
    transition: top 0.3s;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: right;
  padding: 30px 50px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-left: 20px;
  font-size: 15px;
}

.navbar a {
    text-decoration: none;
    color: #333;
}

.navbar a:hover {
  border-bottom: 3px solid rgb(26, 117, 220);
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    width: 100%;
    background-color: white;
    margin-top: auto;
    
}

.footer_text {
    font-size: 13px;
    display: flex;
    justify-content: left;
    width: 100%;
    padding-left: 4%;
}

.footer_text a {
    text-decoration: none;
}

.logo {
  display: flex;
  width: 100%;
  padding: 10px;
}

.logo img {
  height: 60px;
  margin-right: 10px;
  margin-left: 50px;
  margin-top: 10px;
}

.title h1 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.title p, .title small {
  margin: 0;
  color: #333;
}

.mission {
  width: 50%;
  text-align: center;
}

.page_button{
  padding: 30px;
}

.page_button button{
  padding: 10px;
  padding-inline: 15px;
}

.splash_screen {
  position: relative;
  text-align: center;
  color: white;
  width: 50%;;
  overflow: hidden;
  z-index: 2;
  align-self: center;
  margin-top: 100px;
}

.card_textarea {
  width: 100%;
  background: white;
  overflow: hidden;
  display: flex;
  gap: 0px;
  padding: 30px 30px 30px 0px;
}

.textarea{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.textarea p {
  width: 60%;
  text-align: center;
  font-size: 20px;
}

.textarea_image {
  display: flex;
  height: 700px;
  padding-left: 10%;
}

 .card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap; 
}

.card {
  width: 250px;
  background: whitesmoke;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to top, lightblue, white);
}

.slideshow_container {
  width: 100%;
  position: relative;
  margin: auto;
}

.homepage_image {
  display: none;
  width: 100%;
  height: 550px;
  position: relative;
  overflow: hidden;
}

.image_text {
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 30%;
  text-align: justify;
  font-size: 40px;
  font-weight: bold;
  background-color: white;
  bottom: 220px;
  left: 200px;
}

.fade{
  animation-name: fade;
  animation-duration: 2.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.homepage_image img {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
  position: absolute;
  top: 0;
  left: 0;
}

.quote{
  display: flex;
  justify-content: space-evenly;
  background-color: whitesmoke;
  text-align: center;
  font-weight: bold;
  padding: 75px 75px 75px 0px;
  width: 100%;
}

.quote span{
  font-size: 30px;
  width: 35%;
  padding-top: 90px;
}

.quote img{
  height: 100%;
  width: 500px;
}






